/* GENERICS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header{
    height: 60px;
    line-height: 30px;
    padding-top: 11px;
    display: flex;
    justify-content: center;

    /* DEBUG */
    background-color: #ADD8E6;
}

.nav-conteiner{
    height: 35px;
    width: 60%;
    display: flex;
    flex-shrink: 1;
    
    /* DEBUG */
    background-color: #DAA520;
}

a{
    padding: 0 10px;
}

.link{
    display: inline-block;
    flex-grow: 2;
    text-align: center;
    
    /* DEBUG */
    border: 2px dashed black;
}

.link.logo.login{
    flex-grow: 1;
}

body{
    height: 100%;
}

.main{
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main.section1{
    height: 350px;

    /* DEBUG */
    background-color: #00008B;
}

.main.section3{
    flex-direction: row-reverse;
    
    /* DEBUG */
    background-color: #D3D3D3;
}

.main.section5{
    height: 700px;

    /* DEBUG */
    background-color: #D3D3D3;
}

.main.section6{
    height: 450px;

    /* DEBUG */
    background-color: #23272A;
}

.section-title{
    height: 290px;
    width: 620px;

    /* DEBUG */
    background-color: #EE82EE;
    border: 2px dashed black;
}

.conteiner{
    height: 370px;
    max-inline-size: 60%;
    width: 30%;
    display: flex;
    
    /* DEBUG */
    border: 2px dashed black;


}

.conteiner.img{
    width: 35%;

        /* DEBUG */
    background-color: #1E90FF;
}

.conteiner.text{
    width: 25%;

        /* DEBUG */
    background-color: #FFC0CB;
}

.conteiner-section5{
    height: 620px;
    width: 60%;

    /* DEBUG */
    background-color: #228B22;
    border: 2px dashed black;
}

.conteiner-section6{
    width: 10%;
    height: 410px;

    /* DEBUG */
    background-color: #20B2AA;
    border: 2px dashed white;

}

.conteiner-section6.info{
    width: 20%;

    /* DEBUG */
    background-color: #F08080;
    border: 2px dashed black;
}