/* GENERICS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.margin{
    margin: 0 auto;
}

/* HEADER */

header{
    font-size: 14px;
    max-inline-size: 1519.2px;
    height: 60px;
    line-height: 30px;
    padding-top: 11px;
    display: flex;
    justify-content: center;
    background-color: #255EE9;
}

.nav-conteiner{
    height: 35px;
    width: 911.52px;
    padding-top: 15px;
    display: flex;
    flex-shrink: 1;
    
    /* DEBUG */
    /* background-color: #DAA520; */
}

a{
    padding: 0 10px;
}

.link{
    display: inline-block;
    flex-grow: 2;
    text-align: center;

    /* DEBUG */
    /* border: 2px dashed black; */
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #BFD4FF;
}

.link.nav{
    cursor: pointer;
    flex-grow: 1;
}

.link.nav.login:hover{
    color: #626669;
    background-color: rgba(255, 255, 255, 0.553);
}


.link.nav.login{
    background-color: white;
    width: 0px;
    height: 30px;
    border-radius: 15px;
}

body{
    height: 100%;
    background-color: black;
}

.main{
    height: 450px;
    max-inline-size: 1519.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.main.section1{
    height: 420px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;

    /* DEBUG */
    background-color: #00008B;
}

.main.section3{
    flex-direction: row-reverse;
    
    /* DEBUG */
    background-color: #D3D3D3;
}

.main.section5{
    height: 700px;

    /* DEBUG */
    background-color: #D3D3D3;
}

.main.section6{
    height: 450px;

    /* DEBUG */
    background-color: #23272A;
}

.section-title{
    height: 290px;
    width: 620px;

    /* DEBUG */
    background-color: #EE82EE;
    border: 2px dashed black;
}

.conteiner{
    height: 370px;
    max-inline-size: 60%;
    width: 30%;
    display: flex;
    
    /* DEBUG */
    border: 2px dashed black;


}

.conteiner.img{
    width: 35%;

        /* DEBUG */
    background-color: #1E90FF;
}

.conteiner.text{
    width: 25%;

        /* DEBUG */
    background-color: #FFC0CB;
}

.conteiner-section5{
    height: 620px;
    width: 60%;

    /* DEBUG */
    background-color: #228B22;
    border: 2px dashed black;
}

.conteiner-section6{
    width: 10%;
    height: 410px;

    /* DEBUG */
    background-color: #20B2AA;
    border: 2px dashed white;

}

.conteiner-section6.info{
    width: 20%;

    /* DEBUG */
    background-color: #F08080;
    border: 2px dashed black;
}

.footer{
    max-inline-size: 1519.2px;
    height: 75px;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    background-color: #23272A;
}

.footer-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 60%;
    height: 55px;
    background-color: #7FFFD4;
}

.icon-button{
    padding: 3px 5px;
    background-color: #FFB6C1;
    border: 2px dashed black;
}